$overlay-font-size: $font-size-base * 2.25 !default;

.img-overlay {
    position: relative;

    picture {
        display: block;
    }

    .img-overlay-text {
        padding: 1rem 0;
    }

    h2 {
        margin: 0;
    }

    @include media-breakpoint-up(lg) {
        h2 {
            font-size: $overlay-font-size;
            line-height: 3.1rem;

            &>span {
                padding: 0 10px 4px 10px;
                background-color: $white;
                color: var(--bs-body-color);
                box-shadow: 10px 0 0 0 $white, -10px 0 0 0 $white;
                box-decoration-break: clone;

                p {
                    display: inline-block;
                    margin-bottom: 0.5rem;
                    line-height: inherit;
                }
            }
        }

        .img-overlay-text {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 2rem;
            max-width: 75%;
        }
    }
}