<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{data.ucph_content_image_overlay_link}">
        <f:then>
            <f:link.typolink parameter="{data.ucph_content_image_overlay_link}" class="img-overlay-link">
                <f:render section="ImageOverlay" arguments="{_all}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:render section="ImageOverlay" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>
<f:section name="ImageOverlay">
    <f:if condition="{images}">
        <f:then>
            <f:for each="{images}" as="image">
                <figure class="img-overlay">
                    <picture>
                        <source srcset="{f:uri.image(image:image, width:'1400', cropVariant: 'xlarge')}" media="(min-width: 1400px)" />
                        <source srcset="{f:uri.image(image:image, width:'1200', cropVariant: 'large')}" media="(min-width: 1200px)" />
                        <source srcset="{f:uri.image(image:image, width:'992', cropVariant: 'medium')}" media="(min-width: 992px)" />
                        <source srcset="{f:uri.image(image:image, width:'768', cropVariant: 'small')}" media="(min-width: 768px)" />
                        <source srcset="{f:uri.image(image:image, width:'620', cropVariant: 'xsmall')}" media="(min-width: 0px)" />
                        <img class="img-responsive" src="{f:uri.image(image: image, treatIdAsReference: true, maxWidth: settings.maxImgWidth, cropVariant: 'default')}" alt="{image.alternative}" />
                    </picture>
                    <f:if condition="{data.bodytext}">
                        <div class="img-overlay-text">
                            <h2><span><f:format.html>{data.bodytext}</f:format.html></span></h2>
                        </div>
                    </f:if>
                </figure>
            </f:for>
        </f:then>
    </f:if>
</f:section>

</html>